
# Proyecto 1 — Primera Fase

Como parte del equipo de análisis de Store 1, comenzarás trabajando con datos de clientes y sus compras.

Tu tarea es limpiar y preparar estos datos para que puedan ser utilizados en futuros análisis de negocio orientados a identificar clientes leales, analizar ingresos por categoría y buscar oportunidades de marketing.

---

## Paso 1

Store 1 está revisando la calidad y coherencia de sus datos de clientes. Para evitar duplicados y asegurar consistencia en el registro de clientes, es necesario limpiar los nombres eliminando espacios y símbolos innecesarios.

En este primer paso, trabajarás con un nombre de usuario que presenta errores de formato:

* Espacios adicionales al inicio y al final.
* El guion bajo (`_`) usado como separador entre el nombre y el apellido.

**Tarea:**

1. Limpia el dato eliminando los espacios innecesarios en la variable `usuario_nombre`.
2. Reemplaza el guion bajo por un espacio.

In [ ]:
usuario_nombre = ' mike_reed '

# 1. Limpia el dato eliminando los espacios innecesarios en la variable user_name
usuario_nombre = # escribe tu código aquí

# 2. Reemplaza el guion bajo por un espacio.
usuario_nombre = # escribe tu código aquí

print(usuario_nombre)

SyntaxError: invalid syntax (<ipython-input-1-9ae7578daabb>, line 4)

<details>
<summary>Haz clic para ver la pista</summary>

Utiliza el método `strip()` para eliminar los espacios al principio y al final de la cadena.

Utiliza el método `replace()` para sustituir el guion bajo `_` por un espacio.

## Paso 2

Después de limpiar el `usuario_nombre`, vamos a seguir procesando el dato. Separar los nombres permitirá personalizar las campañas del programa de fidelización.

**Tarea:**

1. Dividir el `usuario_nombre` ya corregido en dos partes, para obtener una lista con el nombre y el apellido separados.

In [ ]:
usuario_nombre = 'mike reed'

# 1. Divide el usuario en dos partes: nombre y apellido
usuario_sep = # escribe tu código aquí

print(usuario_sep)

['mike', 'reed']

<details>
<summary>Haz clic para ver la pista</summary>

Utiliza el método `split()` indicando el carácter separador.

## Paso 3

¡Genial! Para segmentar correctamente a los clientes por edad, es necesario transformar la edad a tipo numérico. Ahora trabajaremos con la variable `usuario_edad`. Su tipo de dato es incorrecto.

**Tarea:**

1. Convierte el valor al tipo de dato correcto.
2. Muestra el resultado.

In [ ]:
usuario_edad = 32.0

# 1. Convierte el valor al tipo de dato correcto
usuario_edad = # escribe tu código aquí

print(usuario_edad)

32

<details>
<summary>Haz clic para ver la pista</summary>

Usa la función int() para convertir el valor a entero.

## Paso 4

Algunos registros contienen edades no válidas. Debemos validar los datos antes del análisis.

**Tarea:**

1. Escribe un código que intente convertir `usuario_edad` a entero y lo guarde en `usuario_edad_int`.

2. Si falla, muestra el mensaje:
`Proporcione su edad como un valor numérico.`

In [ ]:
usuario_edad = 'treinta y dos'

# 1. Intenta convertir usuario_edad a entero y guárdalo en usuario_edad_int
# 2. Si falla, muestra el mensaje correspondiente
# escribe tu código aquí

Please provide your age as a numerical value.

<details>
<summary>Haz clic para ver la pista</summary>

Usa `try` / `except` para manejar errores al convertir con `int()`.

## Paso 5

Ordenar los registros facilita su revisión y permite construir reportes claros para el programa de fidelización.

**Tarea:**

1. Ordena la lista por el ID de usuario en orden ascendente.

In [ ]:
usuarios = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRÓNICA', 'DEPORTE', 'LIBROS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['ROPA', 'LIBROS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRÓNICA', 'HOGAR', 'COMIDA'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['ROPA', 'ELECTRÓNICA', 'BELLEZA'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['LIBROS', 'HOGAR', 'DEPORTE'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BELLEZA', 'HOGAR', 'COMIDA'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['ROPA', 'COMIDA', 'BELLEZA'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['DEPORTE', 'ELECTRÓNICA', 'HOGAR'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOGAR', 'LIBROS', 'ROPA'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BELLEZA', 'ROPA', 'ELECTRÓNICA'], [189, 299, 579]],
]


# 1. Ordena la lista por el ID de usuario en orden ascendente
# escribe tu código aquí

print(usuarios)

32

<details>
<summary>Haz clic para ver la pista</summary>

Puedes utilizar el método `sort()` en la lista de usuarios para ordenarla de forma ascendente.

## Paso 6

Para identificar a los mejores clientes, es necesario conocer el gasto total por categorías.

**Tarea:**

1. Calcula la suma de los gastos del usuario
2. Muestra el resultado.

In [ ]:
categorias_fav_low = ['electrónica', 'deporte', 'libros']
gasto_por_categoria = [894, 213, 173]

# 1. Calcula la suma de los gastos del usuario
suma_total = # escribe tu código aquí

print(suma_total)

['electrónica', 'deporte', 'libros']

<details>
<summary>Haz clic para ver la pista</summary>

Utiliza la indexación para sumar los valores. Por ejemplo, si tienes la lista `numeros = [10, 20, 30]`, puedes acceder a los elementos con `numeros[0]`, `numeros[1]`, etc.

## Paso 7

Generar resúmenes de cada cliente permite crear reportes ejecutivos rápidos para la dirección.

**Tarea:**

1. Usa las variables `usuario_id`, `usuario_nombre` y `usuario_edad` para crear la siguiente cadena:

  `El usuario 32415 es Mike, quien tiene 32 años.`

In [ ]:
usuario_id = '32415'
usuario_nombre = ['mike', 'reed']
usuario_edad = 32

# 1. Crea la cadena de resumen del cliente
usuario_info = # escribe tu código aquí

print(usuario_info)

User 32415 is mike who is 32 years old.

<details>
<summary>Haz clic para ver la pista</summary>

Para crear una cadena, puedes utilizar una f-string. Para extraer el nombre de la lista `usuario`, puedes utilizar la segmentación.

Ejemplo:

```
nombre = "Luis"
mensaje = f"Hola, {nombre}!"
```

## Paso 8

La dirección necesita saber cuántos clientes tiene registrados para medir el alcance del programa.

**Tarea:**

1. Crea una cadena formateada que muestre la cantidad de clientes registrados:
`Hemos registrado datos de X clientes.`

In [ ]:
usuarios = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRÓNICA', 'DEPORTE', 'LIBROS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['ROPA', 'LIBROS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRÓNICA', 'HOGAR', 'COMIDA'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['ROPA', 'ELECTRÓNICA', 'BELLEZA'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['LIBROS', 'HOGAR', 'DEPORTE'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BELLEZA', 'HOGAR', 'COMIDA'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['ROPA', 'COMIDA', 'BELLEZA'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['DEPORTE', 'ELECTRÓNICA', 'HOGAR'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOGAR', 'LIBROS', 'ROPA'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BELLEZA', 'ROPA', 'ELECTRÓNICA'], [189, 299, 579]],
]

# 1. Cuenta el número de clientes registrados
usuarios_info = # escribe tu código aquí

print(usuarios_info)

<details>
<summary>Haz clic para ver la pista</summary>

Para crear una cadena, puedes utilizar una f-string. Para extraer la cantidad de clientes en la lista, puedes utilizar la función que devuelve la longitud de la lista.

Ejemplo:

```
nombre = "Luis"
mensaje = f"Hola, {nombre}!"
```

## Paso 9

Aplicar la limpieza a todos los registros garantiza consistencia antes de lanzar el programa de fidelización.

**Tarea:**

1. Elimina los espacios iniciales y finales de los nombres y reemplaza los guiones bajos por espacios.
2. Convierte las edades a números enteros.
3. Separa los nombres y apellidos en una sublista.
4. Guarda el resultado en una nueva lista llamada `usuarios_limpio`
5. Muéstrala en pantalla.

In [ ]:
usuarios = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRÓNICA', 'DEPORTE', 'LIBROS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['ROPA', 'LIBROS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRÓNICA', 'HOGAR', 'COMIDA'], [459, 120, 99]],
]

usuarios_limpio = []


# Procesa al primer usuario
# 1. Limpia espacios y reemplaza guión bajo
usuario_nombre_1 = # escribe tu código aquí
# 2. Convierte edad a entero
usuario_edad_1 = # escribe tu código aquí
# 3. Separa el nombre
usuario_nombre_1 = # escribe tu código aquí
# 4. Agrega el usuario limpio a la lista
usuarios_limpio.# escribe tu código aquí

# Procesa al segundo usuario
usuario_nombre_2 = # escribe tu código aquí
usuario_edad_2 = # escribe tu código aquí
usuario_nombre_2 = # escribe tu código aquí
usuarios_limpio.# escribe tu código aquí

# Procesa al tercer usuario
usuario_nombre_3 = # escribe tu código aquí
usuario_edad_3 = # escribe tu código aquí
usuario_nombre_3 = # escribe tu código aquí
usuarios_limpio.# escribe tu código aquí


print(usuarios_limpio)

<details>
<summary>Haz clic para ver la pista</summary>

Para procesar a cada usuario, comienza por acceder a los elementos requeridos de la lista de usuarios. Por ejemplo, si tienes la lista numeros = [10, 20, 30], puedes acceder a los elementos con numeros[0], numeros[1], etc.

Utiliza el método `strip()` para eliminar los espacios iniciales y finales y el método `replace('_',' ')` para reemplazar los guiones bajos por espacios en los nombres.

Convierte la edad a un número entero utilizando `int()`.

Separa el nombre completo en nombre y apellido utilizando el método `split()`.

Por último, `append` (agrega) los datos limpios a la lista `users_clean`.

----------